.profile__name {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .profile__name {
    font-size: 27px;
    line-height: 32px;
  }
}
