.profile__avatar-overlay {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.profile__avatar-overlay:hover:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url("../../../images/edit-avatar.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;
  transition: opacity .3s ease-out;
}


